input {
    border: 0;
    outline: 0;
    background: transparent;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.poi-overlay {
    bottom: 0;
    left: 0;
    top: 10vh;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 3vh;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 5px;
    visibility: hidden;
  }
  
  .map-overlay {
    top:10vh;
    height: 90vh;
    width: 100vw;
    /* bottom: 0;
    left: 0;
    top: 10vh;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 5px;
    visibility: hidden; */
  }

  #poi-info {
    position: absolute;
    visibility: visible;
    top: 0;
    height: 84vh;
    margin: 3vh;
    width: 30vw;
  }
  
  .poi-inner {
    position: relative;
    margin-left: 5%;
    width: 30vw;
  }