textarea {
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
    width:90%;
    font-family: 'Source Sans Pro', sans-serif;
}
#trip-title {
  font-size: 32px;
  color: black;
  margin: 5px;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.poi-overlay {
    width: 30vw;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
  }

  @media screen and (orientation:portrait) {
    .poi-overlay {
      bottom: 0;
      width: 100vw;
      overflow-y: auto;
      border-radius: 10px 10px 0px 0px;
      height: 40vh;
      top: unset;
    }
}
  .poi-inner {
    margin: 5%;
    margin-top:0;
  }

  @media screen and (orientation:portrait) {
    #dragHeader {
      z-index: 10;
      width:50px;
      height: 3px;
      border-radius: 1px;
      background-color: rgb(94, 94, 94);
      display: inline-block;
    }
    #dragWrapper{
      text-align: center;
    }
}
 

  .tripActions{
    bottom: 28px;
    margin: 2%;
    position: absolute;
  }

.buttonStyle{
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 3px;
    background: none;
    margin: 5px;
    font-size: 32px;
  }
